                .body-T {
                    font-family: 'Montserrat', sans-serif;
                }
                
                .bgt1 {
                    background-image: url("../imgT/rawpixel-633847-unsplash-1.jpg");
                    background-size: cover;
                    background-position: bottom;
                    height: 790px;
                }
                
                a:link {
                    text-decoration: none;
                }
                
                .ctnt1 {
                    box-shadow: 0 10px 100px 0 rgba(0, 0, 0, 0.1);
                    background-color: white;
                    text-align: center;
                    height: 450px;
                }
                
                .color-t {
                    color: #ad974f;
                }
                
                .btnt1 {
                    border-top-left-radius: 0;
                    height: 70px;
                    border-bottom-left-radius: 0;
                    background-color: black;
                    width: 150px;
                }
                
                @media (max-width: 480px) {
                    .group-T1 .input-group-append input {
                        width: 80px;
                        background-color: #ad974f;
                    }
                    .group-T1 .input-group-append input:hover {
                        background-color: gray;
                    }
                    .group-T1 .input-group-append {
                        width: 45px;
                    }
                    .scoial .txa {
                        padding: 15px;
                    }
                    .formsend .input-group {
                        width: 100%;
                    }
                }
                
                .btnt1:hover {
                    background-color: gray;
                }
                
                .ctnt2 {
                    background-color: transparent;
                    text-align: center;
                    margin-top: 63px;
                }
                
                .txa {
                    text-decoration: none;
                    color: #ad974f;
                    background-color: white;
                    padding: 20px;
                    border-radius: 5px;
                    margin: 15px;
                }
                
                .txa:hover {
                    color: #ad974f;
                    border-bottom: 0px solid transparent;
                    text-decoration: none;
                }
                
                .icon {
                    font-size: 22px;
                    text-align: center;
                    margin-left: 1px;
                }
                
                .iconfb {
                    margin-left: 2px;
                }
                
                .link-T {
                    text-align: center;
                }
                
                .link-T a {
                    color: inherit;
                    text-decoration: none;
                    font-size: 10px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    font-weight: 600;
                    padding: 10px;
                }
                
                .textft-T {
                    opacity: .9;
                    font-size: 11px;
                    text-align: center;
                    width: 100%;
                    display: inline-block;
                    margin-top: 20px;
                }
                
                .style-pFT {
                    margin-bottom: 5px;
                    font-size: 13px;
                }
                
                .spft:link {
                    text-decoration: none;
                }
                
                .spft:visited {
                    color: black;
                }
                
                .spft:hover {
                    color: #ad974f;
                }
                
                .scoial .iconftclone {
                    z-index: 1;
                    -webkit-transition: all .55s ease;
                    -moz-transition: all .55s ease;
                    -ms-transition: all .55s ease;
                    -o-transition: all .55s ease;
                    transition: all .55s ease;
                    text-align: center;
                    color: #ad974f;
                }
                
                .txa:hover .iconftclone {
                    -webkit-transform: scale(2.5);
                    /* Safari and Chrome */
                    -moz-transform: scale(1.5);
                    /* Firefox */
                    -ms-transform: scale(1.5);
                    /* IE 9 */
                    -o-transform: scale(1.5);
                    /* Opera */
                    transform: scale(1.5);
                    color: #000;
                }
                
                .input-group {
                    width: 90%;
                }
                
                .form-controlstyle {
                    padding: 30px;
                }
                
                .btnfooter {
                    padding: 10px;
                    background-color: #ad974f;
                    color: black;
                }