*{
  box-sizing: border-box;
}
nav .mini{
  position: relative;
  top: 80px;
  right: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s ease .2s;
}
nav .mini.visible{
  opacity: 1;
  visibility: visible;
}
nav .mini .products{
  font-weight: bold;
  font-size: 14px;
}
nav .mini p{
  display: block;
  margin: 0;
  padding: 0;
  line-height: 20px;
}
nav .cart{
  position: relative;
  float: right;
  margin-right: 50px;
  line-height: 70px;
  font-size: 28px;
  height: 100%;
  cursor: pointer;
}
nav .cart span{
  height: 100%;
  float: left;  
  margin-right: 20px;
  opacity: 1;
  color: #333;
  font-size: 18px;
}