            .container-fluid {
                background-image: url(../Products/imgpro-T/pexels-photo\ -\ Copy\ -\ Copy.jpg);
                height: 285px;
                background-size: cover;
                background-position: center;
            }
            
            .produtcs-T {
                font-family: sans-serif;
            }
            
            a:link {
                text-decoration: none;
            }
            
            .k-title-header {
                background: none;
                text-align: center;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 3px;
                margin-top: 100px;
            }
            
            .k-gold {
                color: #ad974f;
            }
            
            .k-gold:visited {
                text-decoration: none;
                color: #ad974f;
            }
            
            .k-white {
                color: #fff;
            }
            
            .k-title {
                color: #000;
                font-size: 12px;
                letter-spacing: 4px;
                font-weight: 500;
                width: 100%;
                margin: 15px 0 0 0;
                display: block;
            }
            
            .line-gold {
                background-color: #ad974f;
                width: 50px;
                height: 1px;
                display: inline-block;
                margin: 0 auto;
            }
            
            .k-title-2 {
                color: #000;
                font-size: 40px;
                width: 100%;
                margin: 20px 0 10px 0;
                line-height: 1.2em;
                font-weight: 500;
                display: inline-block;
            }
            
            .k-title-3 {
                font-size: 18px;
                color: grey;
                margin: 10px 0;
                line-height: 1.8em;
            }
            
            .k-explore {
                text-align: center;
            }
            /* Style the tab content */
            
            .tab1 button.active {
                background-color: whitesmoke;
                color: grey;
                border: 1px solid grey;
            }
            
            .tablinks:hover::after {
                transform: scaleX(1.1) scaleY(1.2);
                transition: all .4s;
            }
            
            .tablinks2::after {
                height: 100%;
                width: 106.5px;
                display: inline-block;
                content: "";
                position: absolute;
                border-radius: 10px;
                background-color: #ad974f;
                transition: all .4s;
                top: 1px;
                left: 1px;
                z-index: -1;
                border: 1px solid black;
            }
            
            .tablinks4::after {
                height: 100%;
                width: 119px;
                display: inline-block;
                content: "";
                position: absolute;
                border-radius: 10px;
                background-color: #ad974f;
                transition: all .4s;
                top: 1px;
                left: 0px;
                border: 1px solid black;
                z-index: -1;
            }
            
            .tablinks1::after {
                height: 100%;
                width: 100px;
                display: inline-block;
                content: "";
                position: absolute;
                border-radius: 10px;
                background-color: #ad974f;
                transition: all .4s;
                top: 1px;
                right: 0px;
                border: 1px solid black;
                z-index: -1;
            }
            
            .tablinks3::after {
                height: 100%;
                width: 95px;
                display: inline-block;
                content: "";
                position: absolute;
                border-radius: 10px;
                background-color: #ad974f;
                transition: all .4s;
                z-index: -1;
                top: 1px;
                left: 1px;
                border: 1px solid black;
            }
            
            .imgpro-Tall {
                width: 350px;
                height: 437px;
                padding: 20px;
                transition: .5s ease;
                float: left;
            }
            
            .tab1 button:hover {
                transform: translateY(-3px);
                box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
            }
            
            .tablinks1 {
                width: 101px;
            }
            
            .tab1 button {
                padding: 14px 16px;
                transition: 0.3s;
                border-radius: 10px;
                background-color: white;
                border: 1px solid black;
                outline: none;
                position: relative;
                margin-left: 5px;
            }
            
            .btnprot1 {
                background-color: black;
                color: white;
                font-size: 16px;
                padding: 16px 32px;
            }
            
            .img1proT {
                position: relative;
                width: 350px;
                height: 437px;
                float: left;
            }
            
            .imgpro-Tall {
                opacity: 1;
                display: block;
                width: 350px;
                height: 437px;
                transition: .5s ease;
                backface-visibility: hidden;
                padding: 20px;
                float: left;
            }
            
            .middlepro-T {
                transition: .5s ease;
                opacity: 0;
                position: absolute;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                text-align: center;
                bottom: 50px;
                right: 15px;
            }
            
            .img1proT:hover .imgpro-Tall {
                opacity: 0.5;
            }
            
            .img1proT:hover .middlepro-T {
                opacity: 1;
            }
            
            .btnprot1 {
                background-color: black;
                font-size: 16px;
                padding: 16px;
                border: 1px solid black;
                border-radius: 5px;
            }
            
            .colorproa-T:visited {
                color: white;
            }