.navbar-fixed-top.scrolled{
    background-color: #ddd !important;
    transition: background-color 200ms linear;
    border-bottom: 2px solid #ad974f;
}
.product-infor blockquote{
    display: inline-block;
    text-align: left;
}
.product-infor .author{
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 100%;
    display: inline-block;
    font-style: normal;
    opacity: .5;
}
.product-infor .left .title{
    font-size: 12px;
    color: #3f382e;
    letter-spacing: 4px;
    font-weight: 500;
    width: 100%;
    margin: 15px 0 0 0;
    text-transform: uppercase;
    display: block;
}
.product-infor .left .line{
    width: 50px;
    height: 1px;
    display: inline-block;
    margin: 0 auto;
    background: #ad974f!important;
}
.product-infor .left .gold{
    background: #ad974f!important;
}
.product-infor .left .buy{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    color: black;
    border: 1px solid #ad974f;
    border-radius: 10px;
    font-size: 15px;
}